.ModelsSection{
  display:flex;
  flex-direction: 20px;
  gap: 20px;
}

.modelListTitle{
  display:flex;
  color:blueviolet;
  font-weight: 500;
  text-align: start;
  padding: 50px;
}

.modelList{
  display:flex;
  justify-content: space-around;
  align-items:center;
  gap: 60px;
  text-align: end;
  margin: 50px;
  cursor: pointer;
  background-color: thistle;
}

.modelInfo{
  margin:30px;
}
