.navbar{
  padding:20px 0px;
  display: flex;
  justify-content: space-between;
  align-items :center;
}


.navbar-right{
  display:flex;
  align-items:center;
  gap:40px;
}

.navbar-button{
  background:transparent;
  font-size: 16px;
  color:fuchsia;
  border: 1px solid  violet;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-button:hover{
 background-color:blueviolet;
}

.navbar .active{
  padding-bottom :2px;
  border-bottom: 2px solid rgb(251, 2, 239);
}

.navbar li{
  cursor: pointer;
}