.producto{
  display:flex;
  flex-direction: 20px;
  gap: 20px;
}

.producto h1{
  color:blueviolet;
  font-weight: 500;
  text-align: start;
}

.prodText{
   color:rgb(215, 13, 215);
   margin: 20px;
   text-align: center;
}

.product-list{
  display:flex;
  justify-content: space-between;
  align-items:center;
  gap: 30px;
  text-align: center;
  margin: 250px -400px;
  overflow-x: scroll;
}


.product-list img{
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius:50%;
  transition:0.2s;
}

.prodict-list p{
 margin-top:10px;
 color:darkorchid;
 font-size: max(1.4vw,16px);
 cursor:pointer;
}

